
/**
#calc-dc-tensao{
    background-color: rgba(255, 255, 255, 0.473);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    margin: 10px;
    border-radius: 13px;
    
}

#calc-dc-corrente{
    background-color: rgb(108, 75, 139);
     margin: 10px;
     border-radius: 13px;
}
#calc-dc-resistencia{
    background-color: aquamarine;
     margin: 10px;
     border-radius: 13px;
}**/
/**
.container1 {
        margin-left: -100px !important;
        background-color: rgb(63, 94, 94);
        margin-left: 1dvb;
        position: relative;
}
.container2 {
    background-color: aliceblue;
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 50px;
}*/
select {
    word-wrap: normal;
    padding: 5px 50px 5px 50px;
    background-color: #ffffffb2;

    
}
option {
     background-color: rgba(174, 174, 247, 0.699) !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
    padding: 5px !important;
}
button{
    background-color: #00A3FA !important;
    font-size: 25px !important;
    margin-left: 5px !important;
    gap:15px;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: -1 !important;
  background: url('./img-bg.png') no-repeat center center / cover;
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, rgb(255, 0, 0));*/
	background-size: 200% 200%;
	animation: gradient 150s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
   
}

.div2 {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.082);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;      
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
input {
    background-color: rgba(255, 255, 255, 0.315) !important;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    color: beige !important;
}
::placeholder {
    color: #23d5ab !important;
    opacity: 1 !important; /* Para navegadores modernos */
}
i {
    color: #23d5ab;
    font-size: 20px;
}
a{
    color: #23d5ab;
}
h1{
    color: blanchedalmond;
}
p{
    color: #feffff;
}
td {
    color: white;
}
/***********************************************************/
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header, footer {
    text-align: center;
  }
  /* Ajuste botões, inputs, etc. */
  button, input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom:10px;
  }
  footer {
    margin-top: 180px;
    padding-bottom: 10px;
    position: static !important;
  }
}